<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <script src="../app.js"></script>
  <link rel="stylesheet" href="../../css/index.css">
</head>

<body>
  <div class="about_container">
    <div>

      {{>header}}
    </div>
    <p>this wep site created by mohand abdalmoneim  at the beginig of learning node js,
       this is version 1.0.0, i used weatherstack api to featch the data from it and show it to user, Thank you for visiting my site </p>
    <div>

      <img class="imgme" style=" wisth:10rem; height:10rem" src="./img/mohand.png" />
      <p>mohand.abdo@gmail.com</p>
      {{>footer}}
    </div>
  </div>
</body>

</html>