<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
</head>
<body>
    {{>header}}
    <p>hello partner here you can find any support you want by click at the custommer side and we will be haooy to respose you in any time </p>
    {{>footer}}
</body>
</html>