<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
      <link rel="stylesheet" href="../../css/index.css">

</head>

<body>
    <div class="help-container">
        <div>
            {{>header}}
        </div>

        <p>Find out everything there is to know about weather and stay updated on the latest weather news with the
            comprehensive articles,
            interactive features and pictures . Learn more about weather as scientists continue to make amazing
            discoveries.</p>
        <h3>for support</h3>    
        <p>Email:  mohand30466@gmail.com</p>
        <p>Phone: 099999999999999999999</p>
        <div>
            {{>footer}}

        </div>
    </div>

</body>

</html>