<!DOCTYPE html>
<html lang="en">

<head>

    <title>Weather</title>
    <link rel="stylesheet" href="../../css/index.css">


</head>

<body>
    <div class="container">
        
        <div class="header">
        {{>header}}
        <form class="form">
            <input placeholder="Enter City Name">
            <button id="btn">submit</button>
        </form>
        <div>
            <h1 class="tittle"></h1>
            <p class="foc"></p>
            <p class="tem"></p>
            <p class="fel"></p>
        </div>
        </div>
        <div>
        {{>footer}}
        </div>

         
    </div>
        <script src="../../js/index.js"></script>

</body>

</html>